/* stylesheet for calendar */



.calendar-container {
  width: 100%;
  max-width: 1400px; /* Set desired width */
  margin: 40px auto; /* Center the calendar */
}

.rbc-today {
  background-color: transparent !important;
}

.rbc-current-time-indicator {
  display: none !important;
}
